.in {display: flex;}
.Box {display: flex; width: 40rem; height: 40rem; flex-wrap: wrap; flex-shrink: 1; margin: auto auto; justify-content:center; flex-shrink: 1;}
.Box_ye {display: flex; width: 10rem; height: 10rem; background-color: #F6F420; list-style-type: none; margin: 2rem 0 0 2rem; border-radius: 1rem; flex-basis:auto; ;flex-shrink: 0.8;}